<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Hi5Central Agent Deployment"
    Manufacturer="Hi5Central"
    Version="1.0.0"
    UpgradeCode="A824267A-6EEA-4D38-9382-245EB857E275">
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />
    <Property Id="HI5DEPLOYMENTCONFIG" Secure="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="Hi5CentralFolder" Name="Hi5Central">
        <Directory Id="DeploymentInstallerFolder" Name="Deployment Installer">
          <Component Id="DeploymentInstallerComponent" Guid="*">
            <File Id="DeploymentBootstrapExe" Source="$(var.BootstrapExe)" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Hi5Central Agent" Level="1">
      <ComponentRef Id="DeploymentInstallerComponent" />
    </Feature>

    <CustomAction
      Id="RunDeploymentBootstrap"
      FileRef="DeploymentBootstrapExe"
      ExeCommand="--quiet --config &quot;[HI5DEPLOYMENTCONFIG]&quot;"
      Execute="deferred"
      Impersonate="no"
      Return="check" />

    <InstallExecuteSequence>
      <Custom Action="RunDeploymentBootstrap" After="InstallFiles" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Package>
</Wix>